.input-required {
    color: red;
    font-size: 14px;
}

.bx-md {
    font-size: 1.5rem !important;
}

.about-image {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.about-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.add-new-btn {
    position: absolute;
    right: 0;
    margin: 18px 20px;
}

.delete-icon {
    color: red;
    font-size: 21px;
    margin: 2px;
}

.edit-icon {
    font-size: 21px;
    margin: 2px;
}

.table-responsive {
    margin: 20px 24px;
}

.project-image {
    height: 50px;
    width: 50px;
}

.project-image img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.chat-preloading {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: none;
}

.chat-preloading img {
    height: 100%;
    width: 100%;
}

.send-msg-btn-loading {
    display: none !important;
}

.bannert-image {
    height: 150px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.bannert-image img {
    height: 100%;
    width: 100%;
}

.menu .app-brand.demo {
    margin-left: -20px;
}

.app-brand-logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.app-brand-logo img {
    height: 100%;
    width: 100%;
}
.chat-message-wrapper img{
    height: 40px;
    width: 40px;
}