.input-required {
    color: red;
    font-size: 14px;
}

.bx-md {
    font-size: 1.5rem !important;
}

.about-image {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.about-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.add-new-btn {
    position: absolute;
    right: 0;
    margin: 18px 20px;
}

.delete-icon {
    color: red;
    font-size: 21px;
    margin: 2px;
}

.edit-icon {
    font-size: 21px;
    margin: 2px;
}

.table-responsive {
    margin: 20px 24px;
}

.project-image {
    height: 50px;
    width: 50px;
}

.project-image img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

.chat-preloading {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: none;
}

.chat-preloading img {
    height: 100%;
    width: 100%;
}

.send-msg-btn-loading {
    display: none !important;
}

.bannert-image {
    height: 150px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

.bannert-image img {
    height: 100%;
    width: 100%;
}

.menu .app-brand.demo {
    margin-left: -20px;
}

.app-brand-logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.app-brand-logo img {
    height: 100%;
    width: 100%;
}
.chat-message-wrapper img{
    height: 40px;
    width: 40px;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    content: '';
    display: block;
    padding-top: 56.25%; /* 16:9 ratio */
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .embed-responsive::before {
        padding-top: 75%; /* Adjust the aspect ratio for smaller screens */
    }

    .embed-responsive .embed-responsive-item {
        height: auto; /* Adjust height to be automatic for better viewing on small screens */
    }
}